textarea {
    min-height: 400px;
}
#emails {
    display: block;
}
.mail-line {
    width: 100%;
    border: 1px dotted gray;
    list-style: none;
    margin-bottom: 5px;
    padding: 5px;
    
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix {
    clear: both;
}
.sender {
    margin-right: 10px;
}
#emails-list {
    padding: 0;
    margin: 0;
    cursor: pointer;
    list-style: none;
}
#emails-list li {
    margin-top: 2px;
}
.email-field {
    margin-bottom: 10px;
}
#e-view {
    display: none;
}
.email-body {
    border-top: 1px dotted grey;
    margin-top: 20px;
}