#archive {
    float: right;
    font-size: 8pt;
    padding: 3px;
}
.archive-button {
    font-size: 10px;
}
.button-group:after {
    clear: both;
}
.color-light-grey {
    background: lightgrey;
}
.clickzone {
    cursor: pointer;
    text-decoration: underline;
}
.checkbox {
    display: block;
    border: 1px dotted gray;
    width: auto;
    margin: auto;
    margin-top: 5px;
}
.clearfix {
    clear: both;
}
.col {
    float: left;
    padding-left: 10px;
}
#compose-body {
    font-size: 11pt;
}
#emails-view {
    display: block;
    height: 30px;
}
.email-body {
    border-top: 1px dotted grey;
    margin-top: 20px;
}
#emails-view h3 {
    float: left;
}
.email-line {
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
}
.email-line:after {
    content: "";
    display: table;
    clear: both;
}
.emailbody {
    margin-top: 5px;
    border-top: 1px dotted gray;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.light-gray {
    background: #f1f1f1;
}
#options {
    width: 100%;
    padding-top: 10px;
    border-top: 1px dotted grey;
}
.reply-button {
    font-size: 10px;
    margin-right: 10px;
}
#read-link {
    margin-top: 15px;
    margin-right: 0px;
    float: right;
    font-size: 9px;
    width: auto;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px;
}
#read {
    float: right;
    padding: 3px;
}
.read-check {
    float: right;
    margin: auto;
    margin-top: 5px;
    width: 65px;
}
.subject {
    width: 30%;
}
.sender {
    width: 30%;
}
.sender-single {
    width: auto;
}
.subject-single {
    width: auto;
}
.timestamp-40 {
    width: 39%;
    text-align: right;
}
.timestamp-single {
    width: auto;
}
textarea {
    min-height: 400px;
}
.timestamp {
    width: 30%;
    text-align: right;
}
.white {
    background: white;
}